:root {
  --primary-color: #398DB3;
  --focus-color: #fbe1d7;
  --background-color: #ebf4f7;
  // --background-color: #ffffff;
  --dark-shade-75: rgba(10, 12, 32, .75);
  --dark-shade-50: rgba(10, 12, 32, .5);
  // --dark-shade-75: rgba(1, 0 , 2, .75);
  // --dark-shade-50: rgba(1, 0 , 2, .5);
  // --dark-shade-25: rgba(1, 0 , 2, .25);
  // --dark-shade-10: rgba(1, 0 , 2, .1);
  // --modal-bg-color: #F2F2F2;
  // --red-color: #e50000;
  // --red-focus-color: #ef1414;
  // --light-green-color: #9bf59b75;
}