section.promo 
  .container
    nav.promo__nav
      a.promo__nav-link(href="#skills") Techs
      a.promo__nav-link(href="#projects") Projects  
    .promo__text 
      h2.promo__text-above Hello <span>&#128075;</span>, I'm Timur Prokhorov! 
      p.promo__text-below I'm a web-developer based in Kazan, Russia. I mostly focus on the front-end of the web.
      .promo__links 
        a.promo__link(href="https://github.com/TimurPrh", target="_blank") Github
        a.promo__link(href="mailto:timurprh@gmail.com") Email
    .promo__img 
      img(src=require('/src/assets/img/photo.jpg'), alt="photo")