section.promo 
  .container
    nav.promo__nav
      a.promo__nav-link(href="#skills") Techs
      a.promo__nav-link(href="#projects") Projects  
    .promo__text 
      h2.promo__text-above Hello <span>&#128075;</span>, I'm Timur Prokhorov! 
      p.promo__text-below I'm a web-developer based in Kazan, Russia. I mostly focus on the front-end of the web.
      //- p.promo__about Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore sint error ad iure quidem minima quis. Tempora, nihil. Amet molestiae laudantium reprehenderit vitae quia tempora ab unde asperiores nobis doloribus.
      .promo__links 
        a(href="https://github.com/TimurPrh", target="_blank")
          button.promo__link Github
        a(href="mailto:abc@example.com")
          button.promo__link Email 
    .promo__img 
      img(src=require('/src/assets/img/photo.jpg'), alt="photo")
  